[submodule "server"]
	path = server
	url = https://github.com/CoolStory-Studio/coolstory-gram-server
[submodule "client"]
	path = client
	url = https://github.com/CoolStory-Studio/coolstory-gram-client
